.lax
{
  background-color:aquamarine;
  font-size: 2rem;
}

.section__container:not(:last-child)
{
  
  margin-bottom: 6rem;
}

.section__container 
{
  background-color: aqua;
  text-align: center;
  text-decoration: dotted;
}


.nax 
{
  background-color: bisque;
  font-family: serif;
  padding: 2rem;
  text-align: justify;
  border: 2px dotted white;
  border: solid rgb(0, 0, 0) 1rem;
}
