.navigation{
  display: flex;
  background-color:rgb(220, 221, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px  80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  
}


.nav{
  

}




.nax{
  display: flex;
  background-color:rgb(220, 221, 245);
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px  80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  

}


.nav-link{
  background-color:burlywood;
  font-weight: bold;
}